{{ define "main" }}

<!-- Link al CSS -->
<link rel="stylesheet" href="/css/style.css">

<div class="home-container">

  <!-- COLONNA SINISTRA -->
  <div class="home-left">
    <img src="/images/foto.jpeg" alt="Foto di Matteo Federico">

    <h3>Contatti</h3>

    <p><b>GitHub:</b><br>
      <a href="https://github.com/kobero98">github.com/kobero98</a>
    </p>

    <p><b>Email:</b><br>
      matteo.federico@uniroma2.it<br>
      matteo.federico@cnit.it
    </p>
  </div>

  <!-- COLONNA DESTRA -->
  <div class="home-right">
    <h2>Ciao, sono Matteo Federico</h2>

    <p>PhD Student in Computer Science, Geoinformation and Localization presso l’Università di Roma Tor Vergata.</p>

    <h3>Interessi</h3>
    <ul>
      <li>Sistemi operativi</li>
      <li>Programmazione concorrente</li>
      <li>Algoritmi di sincronizzazione</li>
      <li>Live migration</li>
    </ul>
  </div>

</div>

{{ end }}
